<h2><%= @restaurant.name %> </h2>
<p><%= @restaurant.address %> </p>
<p><%= @restaurant.phone_number %> </p>
<br>
<h4>Reviews:</h4>
<% @restaurant.reviews.each do |review| %>
<ul style="list-style: none;">
  <li><%= review.content %></li>
  <li>Rating: <%= review.rating %> out of 5! </li>
  <br>
</ul>
<% end %>

<%= link_to 'Back to restaurants', restaurants_path, class: "btn btn-primary" %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %>
